<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>  
    <title>主页</title>
</head>
<body>
    <div id="header">
        <div id="header1"><a href="http://www.baidu.com">xxx机器学习平台</a></div>
        <div id="header2">
            <ul id="menu">
                <li ><a href="http://www.baidu.com">通知</a></li>
                <li ><a href="http://www.baidu.com">上传</a></li>
                <li ><a href="http://www.baidu.com">用户名</a></li>
            </ul>
        </div>
    </div>
    <input type="checkbox" id="check">
    <label for="check"><i class="fas fa-bars" id="btn"></i><i class="fas fa-times" id="cancel"></i></label>
    <div class="sidebar">
    <header>主页</header>
    <ul>
        <li><a href="dataset.html"><i class="fas fa-qrcode"></i>数据集选择</a></li>
        <li><a href="#"><i class="fas fa-link"></i>数据预处理</a></li>
        <li><a href="#"><i class="fas fa-stream"></i>特征选择</a></li>
        <li><a href="#"><i class="fas fa-calendar-week"></i>模型选择</a></li>
        <li><a href="#"><i class="fas fa-question-circle"></i>模型训练</a></li>
        <li><a href="#"><i class="fas fa-sliders-h"></i>结果评估</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>联系我们</a></li>
    </ul>
    </div>
  <section>
      <h1>
        xxx机器学习平台帮助
      </h1>
      <p>
          帮助
      </p>
  </section>
</body>
</html>